<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input {
            margin: 10px;
            width: 300px;
            height: 20px;
        }

        button {
            margin-left: 10px;
            width: 170px;
        }
    </style>
</head>
<body>
<h1>Caculator</h1>
<form action="/caculator/cacul" method="post">
    <input value="num1">
    <input value="num2">
    <br>
    <button name="cong" type="submit" >Cộng</button>
    <!--&nbsp;-->
    <button name="tru">Trừ</button>

    <button name="nhan">Nhân</button>

    <button name="chia">Chia</button>
    <br>
    <br>
    <div>RESUILT:</div>
</form>

</body>
</html>